<!-- <#% if @turn.even? %>  -->
<% if 2.even? %>
	<div id="new_phrases">
		<!--append here-->
	</div>
	<h1>New Drawing</h1>
	<%= render 'picture_form' %>
<% else %>
	<div id="new_drawings">
		<!--append here-->
	</div>
	<h1>New Phrase</h1>
	<%= render 'phrase_form' %>
<% end %>

<%= @turn.inspect %>








